/* Add your CSS here */
* {
  font-family: 'PT Sans Narrow', sans-serif;
  user-select: none;
  outline-style:none;
}

body {
  margin: 0;
}

svg#chart {
  padding-top: 2em;
  padding-left: 4em;
  padding-bottom: 5em;
}

rect, image.crest, text, line {
  transition: all 1s ease 0s;
}

image.crest, line#avgConceded {
  cursor: pointer;
}

.svg {
  width: 75%;
  height: 75%;
}

.tooltip {
  position: absolute;
  text-align: center;
  font-size: small;
  padding: 2px;
  background: #ffeb3b;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  border: 1px solid #bdbdbd;
  font-family: 'PT Sans Narrow', sans-serif;
}

.tick line {
  stroke: #e0e0e0;
}

.matchday {
  font-size: 4em;
  fill: #616161;
  font-weight: bold;
  opacity: 0.5;
}

#yAxisLabel {
  transform: rotate(90deg);
}

#vertical {
  width: 1px;
  display: inline-block;
  position: absolute;
  border-right: 2px solid;
  transition: all 1s ease 0s;
}

#pauseBtn {
  right: 15em !important;
}